body {
    color: yellow;
    background-color: rgb(76, 0, 255);
    font-family: 'Ranchers', cursive;
}

strong {
    color: rgb(255, 0, 221);
}
div {
    background-color: red;
    height: 100px;
}
